body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
  padding: 40px;
}

h1 {
  margin-bottom: 20px;
}

select {
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 25px;
  font-size: 16px;
}

.clock {
  background: #1e1e1e;
  margin: 15px auto;
  padding: 20px;
  border-radius: 12px;
  width: 250px;
  font-size: 18px;
}

.city {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}
h2{ font-size: 10px;}
